html, 
body,
nav,
header,
main,
footer {
	width: 100%;
	margin: 0; 
	color: #555;
	font-family: 'PT Sans', sans-serif;
}

nav {
	position: absolute;
	height: 40px;
	background-color: transparent;
}

header {
	height: 175px;
	background-color: #fff;
	background-size: 100%;
	background-image: url('../images/header.jpg');
	text-align: center;
	vertical-align: center;
}

main {
	height: auto;
	background-color: #fbfbfb;
	text-align: center;
}

section {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

footer {
	height: 40px;
	background-color: #888;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	width: 100%;
}

h1 {
	padding-top: 60px;
	color: #f3f3f3;
}

h2 {
	font-size: 1.3em;
	padding-top: 15px;
}

h3 {
	padding-top: 10px;
}

h4 {
	margin-top: 15px;
	padding: 5px;
	color: #999;
	text-align: left;
	font-size: 1.1em;
}

#role {
	color: #f3f3f3;
}

#profile-img {
	width: 50%;
	text-align: center;
}

#img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#skills {
	padding-top: 5px;
	width: 50%;
	text-align: left;
}

.location { 
	width: 50%;
	text-align: left;
}

.date {
	width: 50%;
	text-align: right;
}

.certificate-img {
	height: 150px;
	margin: auto;
}