html, 
body,
nav,
header,
main,
footer {
	width: 100%;
	margin: 0; 
}

nav {
	position: absolute;
	height: 40px;
	background-color: transparent;
}

header {
	height: 175px;
	background-color: #fff;
	background-image: url('https://placekitten.com/320/175');
	text-align: center;
	vertical-align: center;
}

main {
	height: 500px;
	background-color: #ddd;
	text-align: center;
}

section {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

footer {
	height: 40px;
	background-color: #888;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding-top: 20px;
	width: 100%;
}

h1 {
	padding-top: 60px;
}

#profile-img {
	width: 50%;
	text-align: center;
}

#img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#skills {
	padding-top: 5px;
	width: 50%;
	text-align: left;
}

.location { 
	width: 50%;
	text-align: left;
}

.date {
	width: 50%;
	text-align: right;
}